<div class="nav_slider">
    <div class="nav_slider_one">
        <div class="nav_slider_one_main">
            <img style="border-radius: 50%;" src="../../public/images/logos.jpg" alt="Girl in a jacket" width="60"
                height="60">
            <h1 class="nav_slider_one_main_head">Survey Beta</h1>
        </div>


        <%=console.log('successxxx',success) %>

    </div>

    <div class="nav_slider_two">
        <h3 style="display: none;" class="nav_slider_one_main_list">Organize</h3>
        <% if(success==true){ %>
            <a href="/v1/user/logout">
                <button class="nav_logout_btn">Logout</button>
            </a>
            <% } else { %>
                <a href="/v1/user/loginview">
                    <button class="nav_signup_btn">Login</button>
                </a>
                <div>

                    <a href="/v1/user/signup">
                        <button class="nav_signup_btn">Signup</button>
                    </a>




                </div>
                <% } %>


    </div>
</div>