<div class="nav_slider">
    <div class="nav_slider_one">
        <div class="nav_slider_one_main">
            <img style="border-radius: 50%;" src="../../public/images/logos.jpg" alt="Girl in a jacket" width="60"
                height="60">
            <h1 class="nav_slider_one_main_head">Lions Tech Survey</h1>
        </div>
        <% if(create==true){ %>
            <a href="/v1/survey/viewquestion">
                <button class="survey_btns">Create</button>
            </a>
            <% } %>
                <%=console.log('successxxx',success) %>
                    <a href="/v1/survey/list">
                        <button style="background-color: blue;" class="nav_logout_btn">Survey List</button>
                    </a>
    </div>

    <div class="nav_slider_two">

        <% if(success==true){ %>
            <a href="/v1/user/logout">
                <button class="nav_logout_btn">Logout</button>
            </a>
            <% } else { %>
                <a href="/v1/user/loginview">
                    <button class="nav_signup_btn">Login</button>
                </a>
                <div>

                    <a href="/v1/user/signup">
                        <button class="nav_signup_btn">Signup</button>
                    </a>




                </div>
                <% } %>


    </div>
</div>