<div class="nav_slider">
    <div class="nav_slider_one">
        <div class="nav_slider_one_main">
            <img style="border-radius: 50%;" src="../../public/images/logos.jpg" alt="Girl in a jacket" width="60"
                height="60">
            <h1 class="nav_slider_one_main_head">Lions Tech</h1>
        </div>
        <a href="/v1/tournament/tournamentview">
            <h3 class="nav_slider_one_main_list">Tournament</h3>
        </a>

        <h3 class="nav_slider_one_main_list">Events</h3>
        <h3 class="nav_slider_one_main_list">Communities</h3>
        <input class="nav_slider_one_main_inp" type="text" placeholder="Search!!">

    </div>

    <div class="nav_slider_two">
        <h3 class="nav_slider_one_main_list">Organize</h3>
        <a href="/v1/user/loginview">
            <h3 style="cursor: pointer;" class="nav_slider_one_main_list">Login</h3>
        </a>

        <div>
            <a href="/v1/user/signup">
                <button class="nav_signup_btn">Signup</button>
            </a>

        </div>

    </div>
</div>