<meta charset="UTF-8">
<title>Survey Beta</title>

<!-- CSS (load bootstrap from a CDN) -->
<link rel="stylesheet" href="../../public/css/nav.css">
<link rel="stylesheet" href="../../public/css/slider.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
<style>

</style>