


.signup_slider_content{
    border: 1px solid #c1c1c1;
    max-width: 360px;
    margin: auto;
    margin-top: 36px;
    padding: 9px;
}

.signup_button_signup{
    padding: 9px 23px;
    width: 100%;
    cursor: pointer;
    background-color: #5656ff;
    border: none;
    color: white;
    border-radius: 6px;
}