
.slider_main{
    background: url(../images/a.jpg);
    background-repeat: no-repeat;
    background-position: revert;
}
.slider_main_head{
    text-align: center;
    padding-top: 106px;
    color: white;
    font-size: 19px;

}
.slider_buttons_main{
    text-align: center;
}
.slider_btn_create_tournoment{
    color: #fff;
    background-color: #ff7324;
    border-color: #ff7324;
    text-transform: uppercase;
    border-radius: 3px;
    font-weight: 700;
    letter-spacing: 0.04em;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
    border: none;
    cursor: pointer;
}
.slider_btn_create_bracket{
    color: #fff;
    background-color: #454d60;
    border-color: #454d60;
    text-transform: uppercase;
    border-radius: 3px;
    font-weight: 700;
    letter-spacing: 0.04em;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
    border: none;
    cursor: pointer;  
}
.slider_main_alpha{
    background-color: rgb(0 0 0 / 10%);
}


/* Here is the Image slider css */

.image_slider_main{
    background-color: #2b303d;
    border: 1px solid #23252d;
}


.image_slider_container{
    max-width: 1053px;
    margin: auto;
    margin-top: 21px;
  
}

.image_slider_main_heading{
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-weight: 100;
    font-size: 26px;

}
.image_slider_main_image{
    width: 242px;
  height: 170px;
  cursor: pointer;
}
.image_slider_main_image:hover img{
    background: rgba(0, 255, 255, 0.5);
}
.image_slider_container_flex{
    display: flex;
    justify-content: space-around;
    margin-top: 46px;
}
.image_slider_container_flex_one{
    display: flex;
    justify-content: space-around;
    margin-top: 25px;
    margin-bottom: 40px;
}
