.tournment_slider{
    background-color: #2b303d;
    border: 1px solid #23252d;
    height: 600px;
}
.create_tournment_slider{
    background-color: #2b303d;
    border: 1px solid #23252d;
    height: 200px; 
}
.tournoment_container{
    max-width: 1200px;
    border: 1px solid white;
    margin: auto;
    margin-top: 53px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.create_tournoment_container{
    max-width: 1200px;
    border: 1px solid white;
    margin: auto;
    margin-top: 53px;
    display: flex;
    align-items: center;
}
.create_tournament_main_slider{
    background-color: #23252d;
    border: 1px solid #23252d;
    height: 500px; 
}
.tournment_container_heading{
    color: white;
    font-family: cursive;
    text-transform: capitalize;
}
.tournment_button{
    background-color: #ff7324;
    border-color: #ff7324;
    color: white;
    padding: 15px 99px;
    border: none;
    border-radius: 5px;
    font-family: monospace;
    cursor: pointer;
    font-size: 18px;
    font-weight: 900;
}

.create_tournament_main{
    max-width: 782px;
    border: 1px solid white;
    height: 66px;
    margin: auto;
    margin-top: 20px;
}
.create_tournament_main_inp_head{
    max-width: 782px;
    background-color: #2b303d;
    border: 1px solid #23252d;
    height: 366px;
    margin: auto;  
}
.created_tournoment_btn{
    background-color: #ff7324;
    border-color: #ff7324;
    color: white;
    padding: 15px 99px;
    border: none;
    border-radius: 5px;
    font-family: monospace;
    cursor: pointer;
    font-size: 18px;
    font-weight: 900;
    width: 100%;
}


.main_tournoment_sliders{
    background-color: #252830;
}

.main_container_slider_div{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.main_container_slider_box{
    background-color: #727272;
    border: 1px solid #23252d;
   
}
.main_container_slider_box_one{
    max-width: 800px;
    margin: auto;
    border: 1px solid;
    margin-top: 30px;
    padding: 21px;
}

.first_round_slider{
    background-color: white;
    border: 1px solid black;
    height: 600p;
}