<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
        <link rel="stylesheet" href="../../public/css/completeTournment.css">
</head>

<main>
    <div class="nav_slider">
        <div class="nav_slider_one">
            <div class="nav_slider_one_main">
                <img style="border-radius: 50%;" src="../../public/images/logos.jpg" alt="Girl in a jacket" width="60"
                    height="60">
                <h1 class="nav_slider_one_main_head">Lions Tech</h1>
            </div>
            <a href="/v1/tournament/tournamentview">
                <h3 class="nav_slider_one_main_list">Tournament</h3>
            </a>

            <h3 class="nav_slider_one_main_list">Events</h3>
            <h3 class="nav_slider_one_main_list">Communities</h3>
            <input class="nav_slider_one_main_inp" type="text" placeholder="Search!!">

        </div>

        <div class="nav_slider_two">
            <h3 class="nav_slider_one_main_list">Organize</h3>
            <div>
                <a href="/v1/user/logout">
                    <button class="nav_signup_btn">Logout</button>
                </a>
            </div>

        </div>
    </div>
    <div class="completed_cover_slider">
        <img class="completed_image_slider_main_image" src="../../public/images/cover.png">
    </div>
    <div class="completed_user_content">
        <div>
            <h2 style="color: white;
            font-size: 28px;
            text-transform: capitalize;">
                <%=name %>
            </h2>
            <form action="/v1/tournament/update/<%=id %>" method="post">
                <input style="color: white;" type="radio" id="rbdemail" name="complected" value="Complected" />
                Complected<br>
                <input style="color: white;" type="radio" id="rbdsitelnk" name="active" value="Active" /> Active
                <div style="    margin-top: 20px;">
                    <button style="padding: 3px 2rem;
                    border: none;cursor: pointer;">Click</button>
                </div>
            </form>

        </div>
        <div>
            <h2 style="color: white;
            font-size: 25px;
            text-transform: capitalize;">Organized By</h2>
            <h3 style="color: white;">
                <%=foo%>
            </h3>
        </div>
    </div>
</main>