<!DOCTYPE html>
<html lang="en">

<head>

</head>
<header>

</header>


<body>
    <div style="border: 1px solid black;
 ">
        <h2 style="    text-align: center;
        font-family: monospace;
        margin-top: 71px;
        font-size: 30px;
        letter-spacing: 6px;">Survey Analysis</h2>
        <div style="
        border: 1px solid;
       
        max-width: 687px;
        margin: auto;
        margin-top: 82px;
    ">
            <form action="/v1/survey/analysis" method="post">
                <div>
                    <p style="    margin-left: 38px;
        font-weight: 700;">Write Analysis for survey!!</p>
                    <textarea style="    margin-left: 39px;    outline: none;" rows="10" cols="80">
        Here please write analysis for survey
        </textarea>
                    <div>
                        <button style="    width: 100%;
                        padding: 8px 27px;
                        margin-top: 39px;
                        border: none;
                        background-color: blue;
                        color: white;">Create Alaysis</button>
                    </div>
                </div>
            </form>


        </div>
    </div>
</body>

</html>