<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body class="container">

    <header>
        <%- include('../partials/header'); %>
    </header>

    <main class="slider_main">
        <div class="slider_main_alpha">
            <div class="slider_main_head">
                <h1 class="slider_main_heading">Simplify Tournament Management</h1>
                <p>Join the millions who trust Challonge to manage their tournaments.<br /> More than 28,041,541
                    brackets
                    created around the world.</p>
            </div>
            <div class="slider_buttons_main">
                <button class="slider_btn_create_tournoment">Create Tournament</button>
                <button class="slider_btn_create_bracket">Try out Bracket Generator</button>
                <div style="margin-top: 90px;">
                    <img src="../../public/images/b.png" height="300" width="800">
                </div>
            </div>
        </div>
    </main>

    <div class="image_slider_main">
        <div class="image_slider_container">
            <div style="padding-left: 20px;" class="image_slider_main_head">
                <h2 class="image_slider_main_heading">Top Games</h2>
                <hr style=" border-bottom: 2px solid #767676" />
            </div>

            <div class="image_slider_container_flex">
                <img class="image_slider_main_image" src="../../public/images/img_one.jpg" alt="peng ting">
                <img class="image_slider_main_image" src="../../public/images/img_one.jpg" alt="peng ting">
                <img class="image_slider_main_image" src="../../public/images/img_one.jpg" alt="peng ting">
                <img class="image_slider_main_image" src="../../public/images/img_one.jpg" alt="peng ting">
            </div>

            <div class="image_slider_container_flex_one">
                <img class="image_slider_main_image" src="../../public/images/img_one.jpg" alt="peng ting">
                <img class="image_slider_main_image" src="../../public/images/img_one.jpg">
                <img class="image_slider_main_image" src="../../public/images/img_one.jpg">
                <img class="image_slider_main_image" src="../../public/images/img_one.jpg">
            </div>
        </div>
    </div>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>

</body>

</html>