<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body class="container">

    <header>
        <%- include('../partials/header'); %>
    </header>

    <main class="slider_main">

        <h2 class="slider_main_heading">Welcome to survey</h2>
        <p style="    font-family: cursive;
        font-size: 15px;
        text-align: center;">"Be fast, have no regrets... If you need to be right before you move, you will never win”,
            said Mike Ryan,
            epidemiologist at WHO
        </p>

    </main>


    <footer>
        <%- include('../partials/footer'); %>
    </footer>

</body>

</html>