<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body class="container">

    <header>
        <%- include('../partials/header'); %>
    </header>

    <main class="slider_main">

        <h2 class="slider_main_heading">Create your Own Survey</h2>
        <p style="    font-family: cursive;
        font-size: 15px;
        text-align: center;">Signup and Create your Survey Online
        </p>

    </main>


    <footer>
        <%- include('../partials/footer'); %>
    </footer>

</body>

</html>