<link rel="stylesheet" href="../../public/css/signup.css">

<div class="signup_slider">

    <h2 style="
    text-align: center;
    margin-top: 99px;
    font-size: 33px;
    font-family: none;
    font-weight: 100;
">Login With Credentials
        <% if(message){ %>
            <p style="color: red;text-align: center; margin: 0;padding: 0;font-size: 10px;">
                <%=message %>
            </p>
            <% } else { %>
                <p style="color: red;text-align: center; margin: 0;padding: 0;font-size: 10px; display: none;">
                    <%=message %>
                </p>
                <% } %>
    </h2>

    <div class='signup_slider_content'>

        <div class="signup_input">
            <form action="/v1/user/login" method="POST">
                <input style=" margin-bottom: 10px;
                   display: block;
                   background-color: #6b6c72;
               outline: none;
               color: white;
               border: none;
                   width: 100%;
                   padding: 7px;
                   margin-top: 3px
               ;" name="email" style="margin-bottom:10px" type="email" class="form-control" id="exampleInputEmail1"
                    aria-describedby="emailHelp" value="" placeholder="email" required>
                <input style=" margin-bottom: 10px;
                   display: block;
                   background-color: #6b6c72;
               outline: none;
               color: white;
               border: none;
                   width: 100%;
                   padding: 7px;
                   margin-top: 3px
               ;" name="password" style="margin-bottom:10px" type="password" class="form-control"
                    id="exampleInputEmail1" aria-describedby="emailHelp" value="" placeholder="Password" required>


                <button class="signup_button_signup">Account Login</button>
            </form>


        </div>

    </div>
</div>