<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
        <link rel="stylesheet" href="../../public/css/completeTournment.css">
</head>


<div class="nav_slider">
    <div class="nav_slider_one">
        <div class="nav_slider_one_main">
            <img style="border-radius: 50%;" src="../../public/images/logos.jpg" alt="Girl in a jacket" width="60"
                height="60">
            <h1 class="nav_slider_one_main_head">Lions Tech</h1>
        </div>
        <a href="/v1/tournament/tournamentview">
            <h3 class="nav_slider_one_main_list">Tournament</h3>
        </a>

        <h3 style="display: none;" class="nav_slider_one_main_list">Events</h3>
        <h3 style="display: none;" class="nav_slider_one_main_list">Communities</h3>
        <input class="nav_slider_one_main_inp" type="text" placeholder="Search!!">

    </div>

    <div class="nav_slider_two">
        <h3 style="display: none;" class="nav_slider_one_main_list">Organize</h3>
        <div>
            <a href="/v1/user/logout">
                <button class="nav_signup_btn">Logout</button>
            </a>
        </div>

    </div>
</div>

<div style="background-color: white; border: 1px solid;  max-width: 1220px; margin: auto;margin-top: 30px;">

    <div style="border: 1px solid black;
    height: 170px;
    max-width: 1137px;
    margin: auto;
    margin-top: 36px;
    background-color: #2b303d;
    border: 1px solid #23252d;">

        <div style="    display: flex;
        color: white;
        justify-content: space-around;
        align-items: center;
        padding-top: 47px;">
            <h1>
                <%=Sixteen[0].playerone %>
            </h1>

            <h2>
                Congratulations
            </h2>
        </div>

    </div>





    <div style="text-align: center;">
        <a href="/v1/tournament/tournamentview">
            <button style="background-color: #ff7324;
        border-color: #ff7324;
        color: white;
        padding: 15px 99px;
        border: none;
        border-radius: 5px;
        
        font-family: monospace;
        cursor: pointer;
        font-size: 18px;
        font-weight: 900">Thank You</button>
        </a>
    </div>

</div>