<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>
<header>

    <%- include('../partials/header',{success:success}); %>
</header>

<body>
    <!-- here we will will create a survey -->
    <div style="text-align: center;
    margin-top: 178px;">
        <a href="/v1/survey/viewquestion">
            <button class="survey_btns">Create Survey</button>
        </a>


    </div>
</body>


</html>